@import "./../../../../assets/theme/colors";

.view-title {
  color: $primary-color;
  font-size: calc(2rem + 1.5vw);
  font-weight: 800;
  font-family: "fredoka one", cursive;
  text-shadow: -3px -2px 1px $text-shadow-color;
}
.view-subtitle {
  font-family: "comfortaa";
  font-size: calc(0.8rem + 1vw);
  font-weight: 400;
}
