$rds-logo-color:#0060a0;
$rds-logo-alpha-color:#0060a080;
$alkali-metal-background:#6677d8bb;
$alkaline-earth-metal-background:#f9bb00;
$lanthanide-background:#f1af2b7a;
$actinide-background:#4fb37a96;
$transition-metal-background:#0089ce7c;
$post-transition-metal-background:#f71c1ca6;
$metalloid-background:#ff5900b6;
$nonmetal-background:#607e1aaf;
$noble-gas-background:#e674c3b9;
$unknown-metal-background:#997a7a50;
$liquid-background-color: #003a86;
$gas-background-color: #800000;
$unknown-background-color: #463b00;
$gas-color: #af0000;
$liquid-color: #0f63ff;
$solid-color: rgb(0, 0, 0);
$unknown-color: #645200;
$border-color: #CCC;
$thick-border-color: #919191;
$gray: #D3D3D3;
$heading-color:#053a00;
