@import 'assets/theme/custom-theme.scss';
@import "assets/theme/colors";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-name {
  color:$rds-logo-color;
  font-weight: 800;
}
/* class to avoid text selection*/
.no-copy {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
